<div>
	<h2>
		<%= @post.rationale %>
	</h2>
</div>

<br>

<div class="well">
	<div>
		<h4>
			<span>
				Overtime Requested:
			</span>
			<%= @post.overtime_request %>
		</h4>
	</div>

	<div>
		<span>
			 Date:
		</span>
		<h4>
			<%= @post.date %>		
		</h4>
	</div>

	<div>
		<span>
			Employee:
		</span>
		<h4>
			<%= @post.user.full_name %>
		</h4>
	</div>

	<div>
		Approval Status:
		<h4>
			<%= status_label @post.status %>
		</h4>
	</div>
</div>


<div>
<%= link_to 'Edit', edit_post_path(@post), id: "edit_#{@post.id}", class: 'btn btn-primary' if policy(@post).update? %>	
</div>
